table {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.02rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: var(--table-head-background-color);
    color: var(--table-text-header);
    font-weight: 600;
    border: 0.1rem solid var(--table-border);
}

.table th {
    padding: 15px;
    border: 0.1rem solid var(--table-border);
    width: 20rem;
}

.table td {
    padding: 10px;
    border: 0.1rem solid var(--table-border);
}

.table tbody {
    border: 1px solid var(--table-border);
}

.table tbody tr:nth-child(2n) {
    background-color: var(--table-cell-background-color);
}

.table tbody tr:nth-child(2n + 1) {
    background-color: var(--table-cell-odd-background-color);
}
